:root {
  --primario: #ffe2c296;
  --promarioOscuro: #576b5f;
  --secundario: #8d8375;
  --secundarioOscuto: #cec0e4;
  --blanco: rgba(228, 203, 203, 0.856);
  --negro: #000;
  --fuenteprincipal: "Staatliches", cursive;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/**globales **/

body {
  background-color: var(--primario);
  font-size: 1.6 em;
  line-height: 1.5;
}
p {
  font-size: 4rem;
  font-family: var(--fuenteprincipal);
  color: var(--blanco);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.contenedor {
  max-width: 120em;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secundario);
  font-family: "Staatliches", cursive;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 2rem;
}

/**header**/
.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  margin: 3rem 0;
}
/**footer**/
.footer {
  background-color: var(--promarioOscuro);
  padding: 1rem 0;
  margin-top: 2rem;
}
.footer__texto {
  font-family: var(--fuenteprincipal);
  text-align: center;
  font-size: 1rem;
}
/**NAVEGACION**/
.navegacion {
  background-color: var(--promarioOscuro);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.navegacion__enlace {
  font-family: "Staatliches", cursive;
  color: var(--blanco);
  font-size: 1.5rem;
}
.navegacion_enlace--activo,
.navegacion__enlace:hover {
  color: var(--primario);
}



/**Productos **/
.producto {
  background-color: var(--promarioOscuro);
  padding: 1rem;
}
.producto__imagen {
  width: 100%;
}
.producto__informacion {
  text-align: center;
  line-height: 1.2rem;
}
.producto__nombre {
  font-size: 6rem;
}
.producto__precio {
  font-size: 2.8rem;
}
.producto__nombre .producto__precio {
  font-family: var(--fuenteprincipal);
  margin: 1rem;
}




/** NOSOTROS **/ 
.nosotros{
display: grid;
grid-template-columns: repeat(2,1fr);

}
.nosotros__contenido{
text-align: center;

}
.nosotros__imagen{

}
